@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Lato&display=swap');

body {
  background: #F5F5F5;
  font-family: 'Croissant One', cursive;
  /* font-family: 'Lato', sans-serif; */
}

.header {
  font-family: 'Croissant One', cursive;
  display: flex;
  padding: 20px 50px;
  gap: 20px;
  background: #8CB0C9;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color: #F5F5F5;
  font-size: 20px;
}

.main_page {
  padding: 50px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card_img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center bottom;
}